@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-bar-height: 2rem;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-slate-200 text-slate-800;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#root > main {
  margin-top: var(--title-bar-height);
  padding: 2.5rem;
  padding-top: calc(2.5rem + var(--title-bar-height));
  overflow: auto;
  max-height: calc(100% - var(--title-bar-height));
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title-bar {
  height: var(--title-bar-height);
}

#draggable-title-bar {
  -webkit-app-region: drag;
}