@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --title-bar-height: 2rem;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  @apply bg-slate-200 text-slate-800;
  line-height: 1.6;
  font-family: Inter,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Roboto,
  Oxygen,
  Ubuntu,
  Cantarell,
  "Fira Sans",
  "Droid Sans",
  "Helvetica Neue",
  sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-size: cover;
  -webkit-user-select: none;
  user-select: none;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#root > main {
  margin-top: var(--title-bar-height);
  overflow: auto;
  max-height: calc(100% - var(--title-bar-height));
  width: 100%;
}

#root > main > main {
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#title-bar {
  height: var(--title-bar-height);
}

#draggable-title-bar {
  -webkit-app-region: drag;
}

#side-menu, #side-menu-shadow {
  top: var(--title-bar-height);
  height: calc(100vh - var(--title-bar-height));
}

.editingWorkloadRow > td > div {
  @apply flex items-center gap-4 w-full;
}

.editingWorkloadRow > td > div.options {
  @apply w-auto p-0 gap-2;
}

.workloadContent select, .workloadContent input {
  @apply py-0 px-2 border-0 border-b max-w-full grow;
  background: none;
}

.workloadContent input {
  @apply min-w-5;
}

.workloadContent input:disabled {
  @apply bg-red-300/75 cursor-not-allowed;
}

.workloadContent input::-webkit-outer-spin-button,
.workloadContent input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
